// .nav-wrap {
//   width: 100%;
//   display: flex;
//   justify-content: space-around;
//   // align-items: center;
//   text-align: center;
// }

.navigation-bar {
  height: 15%;
  // max-width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;

  .button {
    width: 85px;
    height: 85px;
    background: $boxBackgroundColor;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px;
    outline: none;
    border: none;
  }
}
.button:hover {
  background-color: $badgeColor;
  color: $primaryAccent;
  i {
    color: $primaryAccent;
  }
  .button:active {
    background-color: $badgeColor;
    i {
      color: $primaryAccent;
    }
  }
}
