<div id="content">
  <div class="box">
    <div class="shop-image">
      <img src="/assets/mammut.png" alt="mammut store" width="100px" />
    </div>
    <div class="content__description">
      <h3>Mammut Store</h3>
      <h6>Store with all the outdoorbrands you can imagine</h6>
      <div class="badge">&lt; 1 min walk</div>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A odio dolorem
        commodi esse at consectetur explicabo beatae quam laborum in!
      </p>
      <div class="badge-nav">Go</div>
    </div>
  </div>
  <div class="box">
    <div class="shop-image">
      <img src="/assets/globetrotter.png" alt="mammut store" width="100px" />
    </div>
    <div class="content__description">
      <h3>Globetrotter Ausrüstung</h3>
      <h6>Store with all the outdoorbrands you can imagine</h6>
      <div class="badge">3 min walk</div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A odio dolorem
        commodi esse at consectetur explicabo beatae quam laborum in!
      </p>
      <div class="badge-nav">Go</div>
    </div>
  </div>
  <div class="box">
    <div class="shop-image">
      <img src="/assets/wolfskin.png" alt="mammut store" width="100px" />
    </div>
    <div class="content__description">
      <h3>Jack Wolfskin Store</h3>
      <h6>Store with all the outdoorbrands you can imagine</h6>
      <div class="badge">9 min walk</div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A odio dolorem
        commodi esse at consectetur explicabo beatae quam laborum in!
      </p>
      <div class="badge-nav">Go</div>
    </div>
  </div>
</div>
