*,
*::before,
*::after {
  box-sizing: border-box;
}

$primaryAccent: #f46036;
$textColor: #002642;
$boxBackgroundColor: #c9f0ff;
$badgeColor: #4b88a2;
$headerFont: Nunito Sans;

/* 
#c9F0FF - Diamond
#4B88A2 - Rackley
#002642 - Oxford Blue
#254E70 - Dark Slate gray
#F46036 - Portland Orange 
*/

body {
  background: linear-gradient(
    0deg,
    rgba(75, 136, 162, 1) 0%,
    rgba(37, 78, 112, 1) 100%
  );
}

main {
  display: flex;
  flex-direction: column;
  align-content: center;
}
